<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework">
    <resources>
        <resource-root path="aopalliance-1.0.jar"/>
        <resource-root path="spring-core-${spring.version}.jar"/>
        <resource-root path="spring-context-${spring.version}.jar"/>
        <resource-root path="spring-beans-${spring.version}.jar"/>
        <resource-root path="spring-expression-${spring.version}.jar"/>
        <resource-root path="spring-aop-${spring.version}.jar"/>
        <resource-root path="spring-tx-${spring.version}.jar"/>
        <resource-root path="spring-web-${spring.version}.jar"/>
        <resource-root path="spring-webmvc-${spring.version}.jar"/>
    </resources>
    <dependencies>
        <module name="org.jboss.vfs"/>
        <module name="javaee.api"/>
        <module name="com.sun.xml.bind"/>
        <module name="org.slf4j.jcl-over-slf4j"/>
    </dependencies>
</module>
